@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.progress {
    background-color: #d8d8d8;
    border-radius: 20px;
    height: 30px;
    width: 400px;
}

.progress-done {
    background: linear-gradient(to right, lightblue, aqua);
    box-shadow: 0 3px 3px -5px lightblue, 0 2px 5px lightblue;
    border-radius: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    height: 100%;
    width: 0;
    transition: 1s ease;
}